.contenEducation {
    background-image: url('../images/background-gunung.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-skill {
    font-size: 30px;
}

.imageMongoDb {
    width: 48px;
}

.imageIconSkill {
    width: 100px;
}

.laragon {
    width: 135px;
}

.xampp {
    width: 110px;
}

.judul-education {
    width: 404px;
    height: 107px;
    border: 8px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.judul-certificate {
    width: 404px;
    height: 107px;
    border: 8px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.text-education {
    width: 704px;
}

.iamgeSertifikat {
    width: 100%;
    cursor: pointer;
}

.linkGitHub {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 30px;
}

@media screen and (max-width: 767px) {
    .text-education {
        width: 100%;
    }
}