.contenHome {
    background-image: url("../images/background-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 654px;
    margin-top: -70px;
}

.text-judul {
    padding-top: 250px;
}

.text-name {
    color: #964B00;
}

.text-paragrap-judul {
    color: #909090;
}

.iamge-profile {
    width: 350px;
    position: absolute;
    top: 70px;
    right: 150px;
}

.link-icon {
    color: black;
    font-size: 40px;
}

.contenHome2 {
    background-color: #000000d2;
}

.text-justify {
    text-align: justify;
}

.judul-about {
    width: 404px;
    height: 107px;
    border: 8px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}

.conten-experience {
    display: flex;
    justify-content: space-between;
}

.about-experience {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    height: 550px;
    box-shadow:
        5px 0px 10px rgba(0, 0, 0, 0.2),
        0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.text-justify {
    text-align: justify;
}

@media screen and (max-width: 994px) and (min-width: 768px) {
    .contenHome {
        height: 572px;
    }

    .conten-experience {
        display: block;
        justify-content: center;
    }

    .about-experience {
        height: 800px;
    }

    .iamge-profile {
        right: 30px;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .contenHome {
        background-image: url('../images/profile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
        height: 950px;
    }

    .text-name {
        color: white;
    }

    .iamge-profile {
        z-index: -8;
    }

    .conten-profile {
        position: absolute;
        background-color: #90909084;
        width: 100%;
        color: white;
        top: 737px;
        left: 0px;
    }

    .text-judul {
        padding-top: 40px;
        padding-left: 40px;
    }

    .text-paragrap-judul {
        color: white;
        padding-left: 40px;
    }

    .text-name {
        padding-top: 20px;
        padding-left: 40px;
    }

    .link-icon {
        color: white;
        display: block;
        font-size: 40px;
    }

    .conten-experience {
        display: block;
        justify-content: center;
    }

    .about-experience {
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .judul-about {
        width: 100%;
    }

}